*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    
}
#header{
    height: 10%;
    width: 100%;
    background-color: rgb(28, 109, 109);
    position: fixed;
    display: flex;
    align-items: center;
}
#fakeheader{
    height: 10vh;
    width: 100%;
    background-color: yellow;

}
.text{
    text-align: center;
    margin-left: 40%;
}

#page2{
    height: 90%;
    width: 100%;
    background-color: white;
}
#content{
    width: 100%;
    height: 80%;
    display: flex;
}
#box1{
    height: 100%;
    width: 50%;
}
#box1 h1{
    font-weight: 600;
    color: rgb(1, 1, 50);
    font-size: 50px;
}
#box1 p{
    margin-top: 5%;
    color: black;
    font-weight: bold;
    margin-right: 30px;
    
}

#box2{
    height: 100%;
    width: 50%;
    
}
#box2 h1{
    font-weight: 600;
    color: rgb(1, 1, 50);
    font-size: 50px;
}
#box2 p{
    margin-top: 5%;
    color: black;
    font-weight: bold;
    
}
#rights{
    height: 20%;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: small;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: lighter;

}
#copyright{
    
    margin-left: 40px;
}